body {
    font-family: Roboto, 'sans-serif';
    margin: 0px;
    padding: 0px;
}

.wrapper {
    margin: 0px;
    padding: 0px;
}

.header {
    font-size: 26px;
    font-weight: 700;
    box-shadow: 0 4px 6px -6px #222;
    padding-left: 20px;
}

.main {
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}

.add:hover {
    cursor: pointer;
    box-shadow: rgba(211, 82, 8, 0.866) 0px 20px 25px -5px, rgba(0, 0, 0, 0.939) 0px 10px 10px -5px;
    transform: scale(1.1);
}

.add {
    border-radius: 25px;
    width: 200px;
    height: 30px;
    transition: transform 500ms;
    margin-bottom: 50px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    text-align: center;
}

display {
    display: block;
    border: solid;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    transform: translate(-50%, -50%);
    border: solid;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
}

.modal {
    display: none;
}

.modal.active {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.overlay {
    opacity: 1;
}

.overlay.active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.remove {
    margin: 30px;
}

button:hover {
    cursor: pointer;
    box-shadow: rgba(8, 184, 211, 0.866) 0px 10px 10px -5px, rgba(0, 0, 0, 0.939) 0px 1px 1px -5px;
    transform: scale(1.1);
}

